/* Style.css */

@font-face {
  font-family: "Khalid";
  src: url("https://raw.githubusercontent.com/zezokam/Twolaborlaws/main/Fonts/Khalid.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Khalid", serif;
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-container a {
  margin: 10px;
  text-decoration: none;
}

.button-container button[type=button] {
  background-color: #4CAF50;
  color: white;
  font-family: "Khalid", serif;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.button-container button[type=button]:hover {
  background-color: #45a049;
}
