/* Style.css */

@font-face {
  font-family: "Khalid";
  src: url("https://raw.githubusercontent.com/zezokam/Twolaborlaws/main/Fonts/Khalid.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Khalid", serif;
  background-color: #f1f1f1;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

main {
  text-align: center;
  padding: 20px;
}

a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  font-size: 24px;
}

footer {
  background-color: #616060;
  text-align: center;
  padding: 10px;
  color: white;
}
