/* Style.css */

@font-face {
  font-family: "Khalid";
  src: url("https://raw.githubusercontent.com/zezokam/Twolaborlaws/main/Fonts/Khalid.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Khalid", serif;
  background-color: #f1f1f1;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  width: 100%;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

a {
  margin: 10px;
  text-decoration: none;
  display: block; /* Separate choices into different lines */
  font-size: 24px; /* Adjust font size as desired */
}

footer {
  width: 100%;
  background-color: #616060;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  color: white;
}

footer p {
  margin: 0;
  padding: 0;
}
