/* Style.css */

@font-face {
  font-family: "Khalid";
  src: url("https://raw.githubusercontent.com/zezokam/Twolaborlaws/main/Fonts/Khalid.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Khalid", serif;
  background-color: #f1f1f1;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

header h1 {
  font-size: 26px; /* Adjust header font size */
}

main {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  height: calc(70vh - 90px); /* Adjust height for header and footer */
}

a {
  display: block;
  text-decoration: none;
  font-size: 20px; /* Adjust choices font size */
  position: relative; /* Add this property for positioning */
}

/* ... (other CSS rules) ... */

.choice-description {
  font-size: 9px; /* Adjust the font size as desired */
  color: #555; /* Adjust the text color as desired */
  position: relative; /* Change to relative positioning */
  top: 5px; /* Adjust the distance between choice and description */
  text-align: center; /* Center the text horizontally */
  margin-bottom: 15px; /* Add space below the choice description */
}


footer {
  width: 100%;
  background-color: #616060;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  color: white;
}

footer p {
  margin: 0;
  padding: 0;
}
