/* Style.css */

@font-face {
  font-family: "Khalid";
  src: url("https://github.com/zezokam/Twolaborlaws/blob/main/Fonts/Khalid.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Khalid", serif;
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.button-container a {
  margin: 10px;
  text-decoration: none;
}

.button-container button[type=button] {
  background-color: #4CAF50;
  color: white;
  font-family: "Khalid", serif;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out;
}

.button-container button[type=button]:hover {
  background-color: #45a049;
}

footer {
  width: 100%;
  background-color: #616060;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  color: white;
  padding: 5px 0;
}

footer p {
  margin: 0;
  padding: 0;
}
